<%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/admin.css">
  <%- include("../partials/navbar.ejs") %>

    <main>
      <% if (errorMessage) { %>
        <div class="errorMessage">
          <%= errorMessage %>
        </div>
        <% } %>
          <form action="/auth/newPassword" method="post">
            <label for="password">New Password</label>
            <input type="password" name="newPassword" id="newPassword" />
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword" />
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Update Password</button>
          </form>
    </main>
    <%- include("../partials/footer.ejs") %>