<%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/admin.css">
  <%- include("../partials/navbar.ejs") %>

    <main>
      <% if (errorMessage) { %>
        <div class="errorMessage">
          <%= errorMessage %>
        </div>
        <% } %>
          <form action="/auth/resetPassword" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Reset Password</button>
          </form>
    </main>
    <%- include("../partials/footer.ejs") %></link>