<%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/admin.css">
  <%- include("../partials/navbar.ejs") %>

    <main>
      <% if (errorMessage) { %>
        <div class="errorMessage">
          <%= errorMessage %>
        </div>
        <% } %>
          <form action="/auth/signup" method="post">
            <label for="username">Username</label>
            <input class="<%=validationErrors.find(e=> e.path === 'username') ? 'invalid' : '' %>" type="text"
              name="username" id="username" value="<%= oldInput.username %>" />
            <label for="email">Email</label>
            <input class="<%=validationErrors.find(e=> e.path === 'email') ? 'invalid' : '' %>" type="email"
              name="email" id="email" value="<%= oldInput.email %>" />
            <label for="password">Password</label>
            <input class="<%=validationErrors.find(e=> e.path === 'password') ? 'invalid' : '' %>" type="password"
              name="password" id="password" />
            <label for="confirmPassword">Confirm Password</label>
            <input class="<%=validationErrors.find(e=> e.path === 'password') ? 'invalid' : '' %>" type="password"
              name="confirmPassword" id="confirmPassword" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">SignUp</button>
          </form>
    </main>
    <%- include("../partials/footer.ejs") %>