<%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/admin.css">
  <%- include("../partials/navbar.ejs") %>

    <main>
      <% if (errorMessage) { %>
        <div class="errorMessage">
          <%= errorMessage %>
        </div>
        <% } %>
          <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input class="<%=validationErrors.find(e=> e.path === 'title') ? 'invalid' : '' %>" type="text" name="title"
              id="title" value="<%= oldInput.title %>" />
            <label for="image">Image</label>
            <input type="file" name="image" id="image" />
            <label for="price">Price</label>
            <input class="<%=validationErrors.find(e=> e.path === 'price') ? 'invalid' : '' %>" type="number"
              name="price" id="price" step="0.01" value="<%= oldInput.price %>" />
            <label for="description">Description</label>
            <textarea class="<%=validationErrors.find(e=> e.path === 'description') ? 'invalid' : '' %>"
              name="description" id="description" rows="5"><%= oldInput.description %></textarea>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Add Product</button>
          </form>
    </main>
    <%- include("../partials/footer.ejs") %>