<%- include("../partials/head.ejs") %>
  <%- include("../partials/navbar.ejs") %>
    <% if (products.length> 0) { %>
      <ul class="cartItems">
        <% products.forEach(({productId, quantity})=> { %>
          <li class="cartItem">
            <p>
              <%= productId.title %> (<%= quantity %>)
            </p>
            <form action="/deleteCartItem" method="post">
              <input type="hidden" name="productId" value="<%= productId._id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn">Delete</button>
            </form>
          </li>
          <% }) %>
            <form action="/orders" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn" type="submit">Order Now!</button>
            </form>
      </ul>
      <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
          <%- include("../partials/footer.ejs") %>