<%- include("../partials/head.ejs") %>
  <%- include("../partials/navbar.ejs") %>
    <% if (products.length> 0) { %>
      <ul class="cartItems">
        <% products.forEach(({product,qty})=> { %>
          <li class="cartItem">
            <p>
              <%= product.title %> (<%= qty %>)
            </p>
            <form action="/deleteCartItem" method="post">
              <input type="hidden" name="productId" value="<%= product.id %>">
              <button type="submit" class="btn">Delete</button>
            </form>
          </li>
          <% }) %>
      </ul>
      <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
          <%- include("../partials/footer.ejs") %>