<%- include("../partials/head.ejs") %>
  <%- include("../partials/navbar.ejs") %>

    <main>
      <% if (products.length> 0) { %>
        <div class="grid">
          <% for (let {_id,title,imgUrl,price,description} of products) { %>
            <div class="product-card">
              <header class="card-header">
                <h1 class="product-title">
                  <%= title %>
                </h1>
              </header>
              <div class="card-img">
                <img src="/<%= imgUrl %>" alt="<%= title %>">
              </div>
              <div class="card-content">
                <h2 class="product-price">
                  $<%= price %>
                </h2>
                <p class="product-description">
                  <%= description %>
                </p>
                <div class="card-actions">
                  <button><a href="/products/<%= _id %>">Details</a></button>
                  <%- include("../partials/addToCart.ejs", {id: _id}) %>
                </div>
              </div>
            </div>
            <% } %>
              <% } else { %>
                <h2>No Products Found!</h2>
                <% } %>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>